.photo-editor-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  width: 100%;
  box-sizing: border-box;
}

.dropzone {
  border: 2px dashed #8e44ad;
  border-radius: 10px;
  width: 90%;
  height: 80%;
  max-width: 1200px;
  max-height: 600px;
  background-color: #fafafa;
  padding: 20px;
  transition: background-color 0.3s ease;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor-content {
  text-align: center;
}

.dropzone p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.dropzone.dragging {
  background-color: #e0e0e0;
}

.dropzone:hover {
  background-color: #e0e0e0;
}

.upload-button {
  background-color: #6b46bd;
  color: #fff;
  padding: 10px 20px;
  font-size: 13px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.upload-button:hover {
  background-color: #732d91;
}
