<div class="container" [class.sidebar-collapsed]="sidebarCollapsed">
  <!-- Filter sidebar component -->
  <app-filter-sidebar
    *ngIf="image?.loaded"
    [image]="image"
    [filters]="filters"
    [sidebarCollapsed]="sidebarCollapsed"
    [canUndo]="canUndo()"
    [canRedo]="canRedo()"
    (filterSelected)="filterImage($event)"
    (toggleSidebarEvent)="toggleSidebar()"
    (downloadImageEvent)="downloadImage()"
    (undoEvent)="undoFilter()"
    (redoEvent)="redoFilter()"
  ></app-filter-sidebar>

  <!-- Main image panel -->
  <div class="image-panel">
    <div class="image-container">
      <div class="image-display">
        <img
          [src]="imagePath"
          alt="Image to be processed"
          class="image"
          (error)="onImageError()"
          (load)="onImageLoad()"
        />
      </div>
    </div>
  </div>
</div>

<app-loading *ngIf="loading" [loading]="loading" [message]="loadingMessage" />
