# Dropbox settings
DROPBOX_REFRESH_TOKEN=
DROPBOX_APP_KEY=
DROPBOX_APP_SECRET=

# Mongo settings
MONGODB_CONNECTION_STRING=
MONGODB_COLLECTION_NAME=
MONGODB_DATABASE_NAME=

# Authentication settings
MONGODB_USERS_COLLECTION_NAME=
API_KEY_HEADER_NAME=
DEFAULT_RATE_LIMIT=

FRONTEND_ORIGIN=