<div *ngIf="node" class="treeNodeContainer">
  <div class="treeNode">
    <img
      [src]="node.value.url"
      alt="Image"
      class="treeNodeImage"
      (click)="openDialog(node.value)"
      loading="lazy"
      (error)="onImageError()"
    />
    <span *ngIf="node.value.appliedFilters" class="filtersContainer">
      {{ node.value.appliedFilters[node.value.appliedFilters.length - 1] }}
    </span>
  </div>
  <div class="treeNodeChildren" *ngIf="node.children.length > 0">
    <app-image-tree
      *ngFor="let child of node.children"
      [node]="child"
      [imagePairs]="imagePairs"
    ></app-image-tree>
  </div>
</div>
