<h2 mat-dialog-title class="dialogTitle" id="dialogTitle">
  Tree of Image: {{ data.tree.root?.value?.name }}
</h2>
<mat-dialog-content
  class="imageDialogContent"
  role="document"
  aria-labelledby="dialogTitle"
>
  <div class="imageTreeContainer">
    <app-image-tree
      [node]="data.tree.root"
      [imagePairs]="data.imagePairs"
      class="imageTree"
      role="tree"
      aria-label="Image Tree"
    ></app-image-tree>
  </div>
</mat-dialog-content>
<mat-dialog-actions id="imageDialogActions" class="imageDialogActions">
  <button
    mat-button
    class="btn btn-primary"
    (click)="closeDialog()"
    aria-label="Close Dialog"
  >
    Close
  </button>
</mat-dialog-actions>
