.imageDialogContent {
  display: flex;
  flex-direction: column;
}

.imageDialogContent img {
  display: block;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 5px; /* Space below the image */
}

.imageDialogActions {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}
