<h2 mat-dialog-title class="dialogTitle">
  Image: {{ data[data.length - 1].name }}
</h2>
<mat-dialog-content class="imageDialogContent">
  <div class="imagesColumn">
    <div *ngFor="let imageModel of data" class="imageContainer">
      <div *ngIf="imageModel.appliedFilters" class="filtersContainer">
        <span class="imageDetails">
          {{ imageModel.appliedFilters[imageModel.appliedFilters.length - 1] }}
        </span>
      </div>
      <img [src]="imageModel.url" alt="Image" class="image" loading="lazy" />
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions id="imageDialogActions" class="imageDialogActions">
  <button mat-button class="btn btn-primary" (click)="closeDialog()">
    Close
  </button>
</mat-dialog-actions>
